body {
  margin: 0;
  padding: 0;
  background: #fff;
}

#wrap {
  width: 1030px;
  border: 1px solid red;
  }

  #wrap #main {
    border: 0;
    margin: 0:
  }

img#invoice-image {
  position: absolute;
  top: 0;
  left: 540px;
}

div#addresses {
  padding: 10px 0;
  font-size: 1.1em;
  font-family: Helvetica, Arial, sans-serif;
  }

  div#addresses div#bill-to {
    width: 200px;
    float: left;
  }

  div#addresses div#remit-to {
    width: 200px;
    float: left;
  }

div#invoice-details {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: bold;
  padding: 10px 0;
  width: 100%;
  background-color: #ddd;
}

div#invoice-body {
}

.invoice-row {
  border-bottom: 1px solid #ddd;
}

  .row .project-name {
    width: 550px;
  }

  .row .billing-rate {
    width: 100px;
  }

  .row .hours-worked {
    width: 100px;
  }

  .row .amount {
    width: 100px;
    text-align: right;
  }

  .total {
    font-weight: bold;
    font-size: 1.4em;
  }

