html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: #e3e0d1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: #dd9906;
  text-decoration: none;
}

a:visited {
  color: #dd9906;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.clear {
  overflow: hidden;
  width: 100%;
}

#wrap {
  width: 1000px;
  margin: 0 10px;
  position: relative;
  }

  #wrap #header {
    font-size: 3em;
    }

    #wrap #header h1 {
      line-height: 2em;
      padding-left: 40px;
      color: #d2d0c0;
    }

  #wrap #main {
    background: #fff;
    padding: 0 10px;
    border-left: 3px solid #d2d0c0;
    border-right: 3px solid #d2d0c0;
    margin-right: 200px;
    }

    #wrap #main #new-project-form {
      display: none;
    }

    #wrap #main #new-goal-form {
      display: none;
    }

    #wrap #main .project {
      font-family: Helvetica, Arial, sans-serif;
      }

      #wrap #main .project .collapse-project-details {
        display: none;
      }

      #wrap #main .project .new-ticket-form {
        display: none;
      }


  #wrap #controls {
    font-size: .8em;
    position: absolute;
    right: 0;
    top: 80px;
    width: 195px;
  }

  #wrap #footer {
    clear: both;
    font-size: .8em;
    text-align: center;
    font-weight: bold;
    color: #d2d0c0;
  }

.row {
  line-height: 2em;
  }

  .row div {
    float: left;
    margin: 4px;
  }

  .row .title {
    width: 15%;
    text-align: right;
    }

    .row .title .field_with_errors {
      margin: 0;
      width: 100%;
      text-align: right;
    }

  .row .content {
    width: 80%;
    }

    .row .content .field_with_errors {
      margin: 0;
      border: 2px solid #933;
    }

.sidenote {
  padding-left: 5px;
  font-size: .8em;
  color: #d2d0c0;
}

hr {
  background-color: #d2d0c0;
  height: 1px;
  border: 0;
}
