<%= content_for :header do %>
  <h1>Client</h1>
<% end %>

<%= form_for( @client ) do |f| %>
  <%= render( :partial => "form", :locals => { :f => f } ) %>
  <div class="row clear">
    <div class="title"> </div>
    <div class="content"><%= f.submit "Create client" %></div>
  </div>
<% end %>
