<% for ticket in details.tickets.includes( :user_roles ).where( :closed_at => nil ).accessible_by( Ability.new( current_user ) ).order( :priority ) %>
  <div class="ticket" id="ticket-<%= ticket.id %>">
    <%= render( :partial => "tickets/line", :object => ticket ) %>
  </div>
<% end %>
<% if( can?( :update, details ) ) %>
  <%= link_to "new ticket", "#", :class => "new-ticket" %>
  <div class="new-ticket-form">
    <%= render( :partial => "tickets/form", :object => generate_new_ticket( details ) ) %>
  </div>
<% end %>
