<%= content_for( :header ) do %>
  <h1>Projects</h1>
<% end %>

<div id="projects">
  <%= render( :partial => "line", :collection => @projects ) %>
</div>
<% if( new_project = generate_new_project( @client ) && can?( :create, new_project ) ) %>
  <%= link_to "new project", "#", :id => "new-project" %>
  <div id="new-project-form">
    <%= render( :partial => "form", :object => new_project ) %>
  </div>
<% end %>
