<%= content_for( :header ) do %>
  <h1>Goals</h1>
<% end %>

<div id="goals">
  <%= render( :partial => "line", :collection => @goals ) %>
</div>
<%= link_to "new goal", "#", :id => "new-goal" %>
<div id="new-goal-form">
  <%= render( :partial => "new_goal_form", :object => current_user.goals.build ) %>
</div>
